{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <h1 class="welcomeText">Welcome to the single source for all your book needs!</h1>
        <p class="welcomeText">Browse our extensive collection of books</p>
        <p class="welcomeText">Find your next great read</p>
        <p class="welcomeText">Shop by category below</p>
    </div>
    <div id='mainRight'>
        <h1>Shop by category:</h1>
        <div id='categorySelections'>
            {% for category in categories %}
                <div class='category'>
                    <p>
                        <a href="{{ url_for('category', category_id=category.id) }}">
                            {{ category.name }}
                        </a>
                    </p>
                    {% if category.name == "Biographies" %}
                        <a href="{{ url_for('category', category_id=category.id) }}">
                            <img src="{{ url_for('static', filename='images/categories/biographygif.gif') }}" alt="{{ category.name }}">
                        </a>
                    {% elif category.name == "Psychology" %}
                        <a href="{{ url_for('category', category_id=category.id) }}">
                            <img src="{{ url_for('static', filename='images/categories/psychology.gif') }}" alt="{{ category.name }}">
                        </a>
                    {% elif category.name == "Politics" %}
                        <a href="{{ url_for('category', category_id=category.id) }}">
                            <img src="{{ url_for('static', filename='images/categories/politics.gif') }}" alt="{{ category.name }}">
                        </a>
                    {% elif category.name == "History" %}
                        <a href="{{ url_for('category', category_id=category.id) }}">
                            <img src="{{ url_for('static', filename='images/categories/history.gif') }}" alt="{{ category.name }}">
                        </a>
                    {% endif %}
                </div>
            {%endfor%}

        </div>
    </div>
</main>
{% endblock %}
